
#predmet_kartica{
    max-width: 60rem;
}

#drugi{
    margin-left: 5%;
}
.treci{
    margin-left: 8%;
}

#naslovObjave{
    width: 20%;
}
.divsaokvirom{
    margin-bottom:1%;
    height:150px;
    width:950px;
    border: 1px solid black;
}

.card{
    width: 85%;
    margin-top: 10pt;
}
.dugmic{
    background: 'blue';
    height:30px;
    width:50%;
    margin-left:2%;
}

#dd{
    margin-top: 10pt;
}
