
.card text-white bg-primary mb-3{
    
    padding-left: 20%;
    padding-right: 20%;
}

.greska {
    width: 70%;
    background-color: red;
}

.footer {
    left: 0;
    width: 100%;
    background-color: rgb(0, 32, 63);;
    color: rgb(173, 239, 209);;
    text-align: center;
   margin: 0 auto;
}

.loginForma {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
}


.loginForma input[type="email"]{
    border-radius: 25px;
    background: #e0dbd8;
    width: 100%;
    margin:auto;
}

.loginForma input[type="password"]{
    border-radius: 25px;
    background: #e0dbd8;
    width: 100%;
    margin-bottom: 5%;

}
.loginForma label{
    margin-top: 5%;
}

.loginForma button{
    width: 40%;
}

