.App {
  text-align: center;
  margin:0;
  padding: 0;
}


.App-link {
  color: #61dafb;
}


#leftSiera {
  width: 350px;
  background-color: #2C3E50;
  float: left;
  min-height: calc(100vh - 80px);
}
#rightSiera {
  float: right;
  background-color: white;
  min-height: calc(100vh - 80px);
  width: calc(100% - 350px);
}

