.tabela,
.prvi {
  margin-left: 30%;
  margin-top: 2%;
}
.tabela {
  width: 20%;
  border: 1px solid black;
  border-color: black;
  margin-bottom: 2%;
  margin-left: 35%;
}
.prvi {
  margin-left: 35%;
}
.prvi,
.drugi {
  width: 10%;
}
button {
  width: 100px;
  height: 25px;
}
