.App {
    text-align: center;
  }
  .NavPadding{
    background-color: #282c34;
    align: center;
    color: white;
  }
  .ButtonPadding{
      background-color: darkcyan;
      color: white;
      min-width: 30vh;
      min-height: 8vh;
      font-family: Verdana;
      font-style: bold;
      float: center;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
      border: 1px, solid, black;
  }
  