
#predmet_kartica{
    max-width: 60rem;
}

#drugi{
    margin-left: 5%;
}
.treci{
    margin-left: 8%;
}

#naslovObjave{
    width: 20%;
}
.divsaokvirom{
    margin-bottom:1%;
    width:85%;
    border: 1px solid #18BC9C;
}

.card{
    width: 85%;
    margin-top: 10pt;
}

.opis{
    margin-left: 10pt;
    margin-top: 15pt;
}
.dugmic{
    background: 'blue';
    height:30px;
    width:50%;
    margin-left:2%;
}

.linkovi{
    margin-left: 10pt;
}

#dd{
    margin-top: 10pt;
}

#glavni{
    background-color: white;
}

.side{
    background-color: #18BC9C;
}

.list-group{
    width:100%;
    margin-right: 0pt;
}

.naslov{
    margin-left: 10pt;
    margin-top: 5pt;
}

#dodajObjavu{
    margin:5px 0 5px 5px
}

.checkbox{
    margin-left: 2%;
    margin-top: 1%;
}
