#container{
    background-color:#d9d9d9;
    position: absolute;
    height: 100%;
    width: 100%; 
}
#header{
    background-color: #595959; 
    height: 10%;
 }
#content{
    height: 100%; 
    width: 100%; 
    position: absolute;
}
#info{
    background-color: #b3b3b3;
    width:25%; 
    height: 100%; 
    float: left; 
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
#info1{
    width: 80%;
}
#show{
    background-color: #d9d9d9;
    float: right;
    height:100%; 
    width:75%;     
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
#show1{
    width: 80%
    }
#button{
    width:150; 
    height: 40;
    margin-top:15px; 
}