#body {
    background-color: beige;
}

#main {
    width: 100%;
    background-color: aliceblue;
    position: relative;
}

#greska {
    background-color: red;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 32, 63);;
    color: rgb(173, 239, 209);;
    text-align: center;
}

#loginForma {
    text-align: center;
    max-width: 300px;
    padding-top: 30px;
    margin: 0 auto;
}

#loginForma label {
    margin-bottom: 10px;
}

#loginForma input[type="text"], #loginForma input[type="password"] {
    border-radius: 25px;
    background: #e0dbd8;
    width: 100%;
    margin:auto;
    margin-bottom: 20px;
}

#loginForma input[type=text]:focus, #loginForma input[type="password"]:focus {
    border: 3px solid #555;
}

#loginForma input[type="submit"] {
    cursor: pointer;
    margin-bottom: 20px;
}