
#naslovK{
    color:black;
    background-color: #b7c0d1;
}
#naslovT{
    color:black;
    background-color: #b7c0d1;
}
#naslovB{
    color:black;
    background-color: #b7c0d1;  
}

#tabela{
    margin-left:200px;
    width:50%;
}
#formakreiraj{
    margin-left: 250px;
    width: 30%;
    height: 600px;
    background-color: #b7c0d1;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}
#tipovi{
    margin-left: 700px;
    margin-top:-600px;
    width: 30%;
    background-color: #b7c0d1;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    height: 600px;
}

#bodovi{
    margin-top: 50px;
    margin-left: 255px;
    width: 63%;
    background-color: #b7c0d1;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
}
#idiNaPreview{
    background-color:#2C3E50;
    
    margin-left:86.5%;
    margin-top: 2%;
}
#fut{
    height: 20px;
}
#brbod{
    width: 50%;
}
#leftKilo{
    width: 20%;
    min-height: 100%;

}
#rightKilo{
    background-color: white;
    width:80%;
    float:right;
    min-height:100%; 
}
.lab{
    margin-right: 80%;
}
.lab1{
    margin-right: 48%;
}
#pos{
    margin-right: 75%;
}
#naziv{
    width:75%;
    margin-left: 2%;
}
#datum{
    width:75%;
    margin-left: 2%;
}
#vrijeme{
    width:75%;
    margin-left:2%;
}
#file{
        width:75%;
        margin-left:2%;
}
#opc{
    margin-top:1%;
    margin-left:-43%;
}
#brZ{
    margin-right: 63%;
}
#brojZadataka{
    width:75%;
    margin-left:2%; 
}
.meniBtn{
    margin-left:-20%;
    float:left;
}
#labTip{
    margin-right: -15%;
    
    width:70%;
    
}
#ss{
    margin-right:9%;
    margin-top:0.5%;
}
.tabtip{
    border: rgba(50, 50, 50, 0.52);
    background-color:#2C3E50;
    color: white;
}
.tabtip1{
    background-color: white;
    color:black;
    border: rgba(50, 50, 50, 0.52);
}
#prviR{
   margin-top:-5%;
    
}
#brbodLab{
    margin-left: -7%;
    margin-right: 81%;
}
#Ok{
    
    margin-right:60%;
}
#brbod{
   width:70%;
}
#tabela{
    margin-bottom:20%;
    margin-left:0%;
}
#ukupno{
    margin-right: -5%;
    margin-left: 5%;
}
#ukk{
 
    margin-top:-1%;
    
    background-color: white;
    color:black;
}
#divsw{
    margin-right: 20%;
    margin-top:2%;
    margin-left:-5%;
}
#stLabdat{
    margin-left: -60%;
}
#stLabnaz{
    margin-left: -67%;
}
#stLabvel{
    margin-left: -66%;
}
#stLabvr{
    margin-left:-59%;
}
#stLabkom{
    margin-left:-75.5%;
}
#kom{
    margin-top: 0%;
}
#preuzmiB{
    margin-left:-18%;
}
#pregledB{
    margin-left: -70%;
}
#formaPodaci{
    width:40%;
}