/*
#Kreiranje{
    float:left;
    
}
#Azuriranje{
    margin-right: 1000px;
    float:right;
}
#hed{
    overflow: hidden;
    height: 50px;
}
#formakreiraj{
    margin-left: 200px;
    width: 30%;
   
  
}
#tipovi{
    margin-left: 650px;
    margin-top:-510px;
    width: 40%;
}

#bodovi{
    margin-top: 150px;
    margin-left: 200px;
    width: 73%;
}
#idiNaPreview{
    background-color: rgb(84, 84, 99);
    margin-left:1050px;
}
#fut{
    height: 20px;
}*/