#Kreiranje{
    color:#b7c0d1;
    
}
#Azuriranje{
    color: #b7c0d1;

}
#hed{
    background-color: #151f31;
    height: 50px;
}
#naslovK{
    background-color: #b7c0d1;
}
#naslovT{
    background-color: #b7c0d1;
}
#naslovB{
    background-color: #b7c0d1;  
}

#tabela{
    margin-left:200px;
    width:50%;
}
#formakreiraj{
    margin-left: 250px;
    width: 30%;
    height: 600px;
    background-color: #b7c0d1;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}
#tipovi{
    margin-left: 700px;
    margin-top:-600px;
    width: 30%;
    background-color: #b7c0d1;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    height: 600px;
}

#bodovi{
    margin-top: 50px;
    margin-left: 255px;
    width: 63%;
    background-color: #b7c0d1;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
}
#idiNaPreview{
    background-color: rgb(84, 84, 99);
    margin-left:735px;
}
#fut{
    height: 20px;
}
#brbod{
    width: 50%;
}